@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  width: 475px;
  margin: 0;
  padding: 0;
  scrollbar-width: none;
}

#root {
  width: 100%;
  height: 100%;
}

.custom-scrollbar::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
